{% extends 'layout.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-3"><strong>Title:</strong></div>
		<div class="col-md-9">{{ object.title }}</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>Abstract:</strong></div>
		<div class="col-md-9">{{ object.abstract }}</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>Speaker:</strong></div>
		<div class="col-md-9">{{ object.speaker }}</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<a href="{% url 'sessions_list' %}">Return to list</a>
		</div>
	</div>
{% endblock %}